.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}
body {
  margin: 0;
}
.container-img {
    position: relative;
    text-align: center;
    color: white;
    margin:0px;
}

img{
  width:100%
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 16px;
    font-size: 50px;
}

.contentz {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}
